{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <h1>Привет со страницы Каталога!!!</h1>
    <h1>Каталог товаров</h1>

    <div class="category-list">
        {% for category in categories %}
            {% if category.name != 'Всё меню' %}
                <div class="category">
                    <img src="{{ category.image.url }}" alt="{{ category.name }}">
                    <div class="category-content">
                        <a class="dropdown-item" href="#">{{ category.name }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}