{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{% endblock %}

{% block content %}
    <h1>Привет со страницы Каталога!!!</h1>
    <h1>Каталог товаров</h1>


    <div class="category" id="category-1">
        <div class="category-content">
            <h2>Категория 1</h2>
        </div>
    </div>
    <div class="category" id="category-2">
        <div class="category-content">
            <h2>Категория 2</h2>
        </div>
    </div>
    <div class="category" id="category-3">
        <div class="category-content">
            <h2>Категория 3</h2>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/catalog.js' %}"></script>
{% endblock %}