.main-header {
  background-color: #c2c2c2;
  padding: 30px;
  position: relative;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  padding: 0 20px;
}

.logo {
  float: left;
}



.actions {
  position: absolute;
  right: 20px;
  top: 20px;
}
