{% load static %}
{% load dishes_tags %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}   
    {% endblock %}
</head>
<body>
{# ШАПКА #}


<header class="navbar-header" align="center">
    <div class="navbar-wrap">
        <ul class="navbar-nav1">
            <li>
                <a class="navbar-brand" href="{% url 'main_menu:index' %}"><h2>R.Catering</h2></a>
            </li>

        {# Кнопки #}
            <li class="dropdown">
                <a 
                        class="navbar-brand dropdown-toggle dropdown-item"
                        href="#" 
                        id="menuDropdown" 
                        onclick="toggleDropdown()">Меню
                </a>
                <div class="dropdown-menu" id="menuDropdownMenu">
                    {% for category in categories %}
                        {% if category.name == 'Всё меню' %}
                        	<a class="dropdown-item" href="{% url 'dishes:catalog' %}">{{ category.name }}</a>
                        {% else %}
                            <a class="dropdown-item" href="">{{ category.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li>
                <a class="navbar-brand" href="{% url 'main_menu:about' %}">О нас</a>
            </li>
            <li>
                <a class="navbar-brand" href="#">Услуги</a>
            </li>
            <li>
                <a class="navbar-brand" href="#">Акции</a>
            </li>
        </ul>
    {# Кнопки справа сверху, которые типа то есть, то нет в зависимости от авторизации пользователя #}
        <ul class="navbar-nav2">
            <li>
                <a class="navbar-brand" href="#">Регистрация</a>
            </li>
            <li>
                <a class="navbar-brand" href="#">Войти</a>
            </li>
        </ul>
    </div>
</header>

{% block content %}
{% endblock %}
<script src="{% static 'js/base.js' %}"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>